[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".tmux/.tmux/plugins/tmux-mem-cpu-load"]
	path = .tmux/.tmux/plugins/tmux-mem-cpu-load
	url = https://git::@github.com/thewtex/tmux-mem-cpu-load
